<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Preview Users</title>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<% if(typeof stylesheet_page !== 'undefined'){ %>
		<link rel="stylesheet" href="/stylesheets/<%= stylesheet_page %>">
	<% } %>
</head>
<body>
    <nav class="navbarTop">
        <ul class="navButtons">
            <li><button><a href="/logout">Logout</a></button></li>
            <li><button><a href="/login">Login</a></button></li>
            <li><button><a href="/register">Sing Up</a></button></li>
            <li><button><a href="#">Signed In As <%= "username" %></a></button></li>
            <div class="clear">&nbsp;</div>
        </ul>
    </nav>