<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Preview Users</title>
    <link rel="stylesheet" href="/stylesheets/fontello.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,700&amp;subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/main.css">
	<% if(typeof stylesheetPage !== 'undefined'){ %>
		<link rel="stylesheet" href="/stylesheets/<%= stylesheetPage %>">
	<% } %>
</head>
<body>
    <nav class="navbarTop">
        <ul class="navButtons">
            <li><button><a href="/logout">Logout</a></button></li>
            <li><button><a href="/login">Login</a></button></li>
            <li><button><a href="/register">Sing Up</a></button></li>
            <li><button><a href="#">Signed In As <%= "username" %></a></button></li>
            <div class="clear">&nbsp;</div>
        </ul>
    </nav>
    <%= stylesheetPage %>