<% include ./partials/header %>

<div class="loginOrRegisterContainer login">
	<h1>Log in to your account</h1>

	<form action="">
		<i class="icon-user"></i>
		<input type="text" placeholder="User name">
		<i class="icon-lock"></i>
		<input type="password" placeholder="Password">
		<input type="submit" value="Log In">
	</form>

	<div class="linkRegisterContainer">
		<p>Do not have an account?</p>
		<a class="register" href="/register">Register</a>
	</div>
</div>

<% include ./partials/footer %>