<% include ./partials/header %>

<div class="loginOrRegisterContainer register">
	<h1>Sign Up</h1>

	<form action="/register" method="post" ref='uploadForm' id='uploadForm' encType="multipart/form-data">
		<i class="icon-user"></i>
		<input type="text" placeholder="User name" name="username">
		<i class="icon-lock"></i>
		<input type="password" placeholder="Password" name="password">
		<i class="icon-user"></i>
		<input type="text" placeholder="First Name" name="firstname">
		<i class="icon-user"></i>
		<input type="text" placeholder="Last Name" name="lastname">
		<i class="icon-home"></i>
		<input type="text" placeholder="City" name="city">
		<i class="icon-home"></i>
		<input type="text" placeholder="Country" name="country">
		<i class="icon-picture"></i>
		<input type="file" placeholder="Select Profile Picture" name="image">
		<input type="submit" value="Submit">
	</form>

	<div class="linkRegisterContainer">
		<p>Do have an account?</p>
		<a class="register" href="/register">Log In</a>
	</div>
</div>

<% include ./partials/footer %>