<% include ./partials/header %>

<div class="loginOrRegisterContainer register">
	<h1>Sign Up</h1>

	<form action="/register" method="post" ref='uploadForm' id='uploadForm' encType="multipart/form-data">
		<i class="icon-user"></i>
		<input type="text" placeholder="User name" name="username" min="4" required='true'">
		<i class="icon-lock"></i>
		<input type="password" placeholder="Password" name="password" min="3" required='true'>
		<i class="icon-user"></i>
		<input type="text" placeholder="First Name" name="firstname" min="3" required='true'>
		<i class="icon-user"></i>
		<input type="text" placeholder="Last Name" name="lastname" min="3" required='true'>
		<i class="icon-home"></i>
		<input type="text" placeholder="City" name="city" min="3" required='true'>
		<i class="icon-home"></i>
		<input type="text" placeholder="Country" name="country" min="3" required='true'>
		<i class="icon-picture"></i>
		<input id="imgInp" type="file" placeholder="Select Profile Picture" name="image" accept="image/*" onchange="loadFile(event)" required='true'>
		<div class="infomationOfUser_img">
			<div id="output"></div>
		</div>
		<input type="submit" value="Submit">
	</form>

	<div class="linkRegisterContainer">
		<p>Do have an account?</p>
		<a class="register" href="/login">Log In</a>
	</div>
</div>

<% include ./partials/footer %>