html{
	height: 100%;
	width: 100%;
}
html, body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.navbarTop{
	padding: 0;
	margin: 0;
	margin-bottom: 60px;
	width: 100%;
    overflow:hidden;
    zoom:1;
	border-bottom: 1px rgba(0, 44, 113, 0.22) solid;
    background-color: rgba(0, 44, 113, 0.09);
    box-shadow: 0px 2px 0px rgba(0, 44, 113, 0);
}

.navButtons{
	margin: 10px;
	padding: 0;
}

.navbarTop a{ 
	text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
} 


.navButtons > li{
	float: right;
	list-style-type: none;
	display: inline-block;
	margin: 10px;
}

.clear {
   float: none;
   clear: both;
   height: 0;
}
.headerLink{
	cursor: pointer;
	color: #002C71;;
}
.headerLink:hover{
	color: #ec942e;
}

#homeLink{
	float: left;
}

.buttonMenu{
	cursor: pointer;
	padding: 10px 15px;
	background-color: #002C71;
	border: 0;
	outline: 0;
	border-radius: 100px;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: 500;
}
.buttonMenu:hover{
	background-color: #ec942e;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.42);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.42);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.42);
}

.containerMessageFlash{
	width: 80%;
	padding: 0 10%;
	margin: 20px auto;
}

.alert{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
} 
.alert-success{
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger{
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.currentLocation{
	position: absolute;
    display: block;
    right: 32px;
    top: -20px;
    z-index: 10;
	background-color: #e8ecf2;
    color: #002c71;
    border-radius: 9px;
    border: 1px #002c71 solid;
    font-size: 11px;
}
.shareIcon{
	cursor: pointer;
	position: absolute;
	top: 10.1px;
	right: 10.1px;
	color: #FFA640;
}
.shareIcon:hover{
	color: #ec942e;
}

#imgProfile{
	margin: 0;
}
#imgProfile img{
	width: 50px;
	height: 50px;
	border-radius: 48%;
}

@viewport{
    zoom: 1.0;
    width: device-width;
}

@media (max-width: 410px) {
	#currentLocation{
		font-size: 2.7vw;
	}
}