.containerViewUser{
	position: relative;
	width: 466px;
	border-radius: 5px;
	margin: 100px auto;
	padding: 36px 17px 0 17px;
	box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
}

.backgroundHeader{
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 95px;
	background-color: #002C71;
	border-radius: 5px 5px 0 0;
}

.contentViewUser{
	z-index: 1;
	position: relative;
	background-color: #FFFFFF;
	border-radius: 5px 5px 0 0;
}

.contentUserTop{
    overflow:hidden;
    zoom:1;
	box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
}

#shareIcon{
	cursor: pointer;
	position: absolute;
	top: 10.1px;
	right: 10.1px;
	color: #FFA640;
}
#shareIcon:hover{
	color: #ec942e;
}



.infomationOfUser{
	padding: 20px 20px 19px 20px;
    overflow:hidden;
    zoom:1;
}
.infomationOfUser_img{
	height: 70px;
	width: 70px;
	display: inline-block;
	float: left;
}

.infomationOfUser img{
    border-radius: 49%;
    height: 70px;
    width: 70px;
	background: no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.likesFollowsOfUser{
	padding: 0 0 17px 21px;
}

.infomationOfUser_text{
	display: inline-block;
	color: #002C71;
	letter-spacing: 0;
	float: left;
	padding: 18px;
}

#heartLike{
	cursor: pointer;
	color: #D3D3D3;
	font-size: 12px;
}
#heartLike:hover{
	color: red;
}

.infomationOfUser_text h3, .infomationOfUser_text h5{
	margin: 0;
	padding: 0;
} 

.infomationOfUser_text h3{
	font-size: 18px;
	font-weight: 500;
}
.infomationOfUser_text h5{
	font-size: 12px;
	color: #8298B9;
	font-weight: 400;
}

.likesFollowsOfUser_block{
	display: inline-block;
}
.likesFollowsOfUser_block_group{
	display: inline-block;
	margin-bottom: 21px;
	float: left;
}
.likesFollowsOfUser_block:nth-child(2){
	margin-right: 58px;
	margin-left: 58px;
}
.likesFollowsOfUser_block p{
	padding: 0;
	margin: 0;
}
.likesFollowsOfUser_number{
	color: #FFA640;
	font-size: 24px;
}
.likesFollowsOfUser_text{
	font-size: 10px;
	color: #8298B9;
	line-height: 29px;
}
.likesFollowsOfUser_text, .likesFollowsOfUser_number{
	display: block;
}



#buttonFollow:focus, #buttonFollow:active{
	background-color: #ec942e;
}
#buttonFollow{
	cursor: pointer;
	padding: 0;
	margin: 0;
	margin-left: 35px;
	background-color: #FFA640;
	border: 0;
	outline: 0;
	border-radius: 100px;
	width: 134px;
	height: 46px;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 4.2px;
	font-weight: 700;
}
#buttonFollow:hover{
	background-color: #ec942e;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.42);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.42);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.42);
}

.contentComments{
	margin-top: 15px;
	padding-top: 25px; 
    position: relative;
    overflow: hidden;
    zoom: 1;
    box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
}

#hideComments{
	margin-left: 20px;
	font-size: 14px;
	color: #FFA640;
}
#hideComments:hover{
	color: #ec942e;
}

.comments{
	margin-top: 30px;
	margin-left: 20px;
	margin-bottom: 15px;
	height: 469px;
	overflow-y: auto;
}

.comment{
	padding-bottom: 29px;
	margin-bottom: 29px;
	border-bottom: 1px #EBEBEB solid;
	position: relative;
}

.comment_userImg{
	height: 100%;
	width: 40px;
	display: inline-block;
	float: left;
}

.comment_userImg img{
    border-radius: 49%;
    height: 40px;
    width: 40px;
	background: no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.comment_userName_date{
	display: inline-block;
	float: left;
	margin-top: 11px;
	margin-left: 11px;
}

.comment_userName_date h5, .comment_userName_date p{
	margin: 0;
	padding: 0;
	font-size: 14px;
	display: inline-block;
}

.comment_userName_date h5{
	color: #002C71;
	float: left;
	font-weight: 500;
}

.comment_userName_date p{
	color: #002C71;
	opacity: 0.5;
	float: right;
	position: absolute;
	right: 20px;
}

.comment_text{
    display: inline-block;
    width: 333px;
    margin: 6px 0 0 11px;
	font-size: 14px;
	color: #444444;
	letter-spacing: 0;
	line-height: 21px;
}


.comments::-webkit-scrollbar {
    width: 5px;
}
 
.comments::-webkit-scrollbar-track {
    border-radius: 100px;    
}
 
.comments::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: rgba(0, 44, 113, 0.2);
}

#addNewComment{
	margin-left: 25px;
	font-size: 18px;
	color: #8298B9;
	text-decoration: none;
	display: block;
}
#addNewComment:hover{
	color: #5e789e;
}

.line{
	border: 1px solid #c6c6c7;
	height: 0;
	width: 90%;
	margin: 10px 5%;
	margin-bottom: 50px;
	border-radius: 50%;
}



@media (max-width: 521px) {
	.containerViewUser{
		width: 296px;
	}
	.infomationOfUser_img{
		position: absolute;
		top: -12px;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		float: none;
		margin: 0;
	}
	.infomationOfUser_text{
		text-align: center;
		margin: 0 auto;
		display: block;
		float: none;
	}
	#buttonFollow{
		display: block;
		width: 90%;
		margin: 0 auto;
	}
	.likesFollowsOfUser{
		padding: 0;
		padding-bottom: 17px;
	}
	.likesFollowsOfUser_block{
		margin-bottom: 11px;
	}
	.likesFollowsOfUser_block:nth-child(2){
		margin-right: 45px;
		margin-left: 45px;
	}
	.comment_text{
		margin: 1px 0 0 11px;
		width: 177px;
	}
	.likesFollowsOfUser_block_group{
		padding: 0 21px;
	}
}

@media (max-width: 350px) {
	.containerViewUser{
		width: 95%;
	    padding: 36px 2.5% 0 2.5%;
	}
	.contentViewUser{
		width: 100%;
	}
	.comment_userImg{
		margin-left: 1%;
	}
	.comment_text{
		margin: 6px 1%;
		width: 98%;
	}
	.comments{
		padding: 0 1% 30px 1%;
	}
	.comment_userName_date, .comment_userImg{
		display: block;
		margin: 0 auto;
		width: 98%;
	}
	.comment_userImg img{
		margin: 0 auto;
		display: block;
	}
	.comment_userName_date h5, .comment_userName_date p{
		display: block;
		float: none;
		position: relative;
		text-align: center;
		margin: 0 auto;
	}
	.comment_userName_date h5{
	}
	.comment_userName_date p{
		right: 0;
	}
}

@media (max-width: 328px) {
	.likesFollowsOfUser{
	    padding: 0 2.5% 17px 2.5%;
	}
	.likesFollowsOfUser_block_group{
		position: relative;
		text-align:center;
		padding: 0;
		margin: 0 auto;
		width: 95%;
		display: block;
		overflow: hidden;
		white-space: nowrap;
	}
	.centerWrapper{
		margin: auto;
		overflow: hidden;
		zoom: 0;
	}
	.likesFollowsOfUser_block:nth-child(2){
		margin-right: 5%;
		margin-left: 5%;
	}
	.likesFollowsOfUser_block{
		display:inline-block;
		width: 30%;
	}
}

@media (max-width: 310px) {
	.likesFollowsOfUser{
	    padding: 0 1% 17px 1%;
	}
	.likesFollowsOfUser_block_group{
		width: 98%;
	}
	.likesFollowsOfUser_block:nth-child(2){
		margin-right: 2%;
		margin-left: 2%;
	}
}

@media (max-width: 310px) {
	.likesFollowsOfUser_block{
		width: 100%;
		display: block;
	}
}